.performanceHeader {
  background-image: url('../../asset/image/bg_promoter@2x.png');
  height: 10rem;

  .userLevel {
    padding: 0.8rem 1rem 0rem 1rem;
    background-color: transparent;
  }
  
  .headerText {
    font-size: 1.2rem;
    color: #FFF;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }

  .headerEarn {
    font-size: 2rem;
    color: #FFF;
    display: flex;
    justify-content: center;
  }
}
