.performanceHeader {
  background: url('../../asset/image/bg_promoter@2x.png') no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  height: 11.42rem;

  .userLevel {
    padding: 0.91rem 1.14rem 0rem 1.14rem;
    background-color: transparent;
  }
  
  .headerText {
    font-size: 1.37rem;
    color: #FFF;
    display: flex;
    justify-content: center;
    padding-top: 1.14rem;
  }

  .headerEarn {
    font-size: 2.28rem;
    color: #FFF;
    display: flex;
    justify-content: center;
  }
}

.cellStyle {
  font-size: 1.14rem;
  margin-top: 0rem;

  .cellFooter {
    &:after {
      width: 12px;
      height: 12px;
    }
  }
}

.itemPanel {
  display: flex;
  margin-top: 0px;
  padding: 20px 20px;

  &:after {
    border-bottom: 0px;
  }

  .teamView {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #F5F5F5;
    padding-bottom: 12px;

    .nameText {
      font-size: 1.37rem;
      color: #4A4A4A;
    }

    .performText {
      font-size: 0.91rem;
      color: #B5B5B5;
    }

    .teamnum {
      font-size: 1.14rem;
      color: #5A5A5A;
    }
  }

  .performView {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px 0px 0px;

    .titleText {
      font-size: 0.91rem;
      color: #5A5A5A;
    }

    .earnText {
      font-size: 0.91rem;
      color: #FF7819;
    }
  }
}