.body{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.07rem;
  background-color: #FFFFFF;

  .userInfoBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .username{
      font-size: 1.07rem;
      color: rgba(0,0,0,0.8);

    }

    .phone{
      font-size: 1.07rem;
      color: rgba(0,0,0,0.8);
      margin-left: 2.85rem;

    }
    .tagBox{
      width: 2.14rem;
      height: 1.07rem;
      align-items: center;
      justify-content: center;
      background-color: #F5F5F5;
      margin-left: 1.07rem;
      display: flex;

      .tag{
        font-size: 0.78rem;
        color: #50E3C2;

      }
    }



  }

  .addrInfo{
    margin-top: 1.07rem;
    margin-bottom: 1.07rem;

    .addrText{
      color: rgba(0,0,0,0.8);
      font-size: 0.93rem;

    }

  }

  .buttonWrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 0.07rem solid rgba(0,0,0,0.05);
    padding-top: 0.4rem;


    .defaultBox{
      display: flex;

      border-width: 0;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .defaultButton{
        height: 1.78rem;
        width: 1.78rem
      }
      .defaultText{
        margin-left: 0.71rem;
        font-size: 1.07rem;
        color:rgba(0,0,0,0.8);


      }

    }
    .editBox{
      display: flex;
      flex-direction:row;
      align-items: center;



      .editButton{
        display: flex;
        width: 5.0rem;
        height: 2.14rem;
        border:0.07rem solid rgba(0,0,0,0.05);
        align-items: center;
        justify-content: center;
        margin-left: 0.71rem;
        border-radius: 0;
        font-size: 1.07rem;

      }



    }

  }


}