.container {
  display: flex;
  max-width: 2.72rem;
  align-items: center;
  padding: 0.064rem 0.064rem;
  -webkit-border-radius: 0.16rem;
  -moz-border-radius: 0.16rem;
  border-radius: 0.16rem;
  background-color: rgba(0, 0, 0, 0.25);
  overflow: hidden;
  
  .levelText {
    font-size: 0.256rem;
    color: #FFF;
    padding-left: 0.16rem;
    padding-right: 0.16rem;
  }
}