.container {
  display: flex;
  max-width: 9.71rem;
  align-items: center;
  padding: 0.23rem 0.23rem;
  -webkit-border-radius: 0.57rem;
  -moz-border-radius: 0.57rem;
  border-radius: 0.57rem;
  background-color: rgba(0, 0, 0, 0.25);
  overflow: hidden;
  
  .levelText {
    font-size: 0.91rem;
    color: #FFF;
    padding-left: 0.57rem;
    padding-right: 0.57rem;
  }
}