.itemPanel {
  display: flex;
  margin-top: 0px;
  padding: 20px 20px;

  &:after {
    border-bottom: 0px;
  }

  .teamView {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #F5F5F5;
    padding-bottom: 12px;

    .nameText {
      font-size: 0.384rem;
      color: #4A4A4A;
    }

    .performText {
      font-size: 0.256rem;
      color: #B5B5B5;
    }
    
    .teamnum {
      font-size: 0.32rem;
      color: #5A5A5A;
    }
  }

  .performView {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px 0px 0px;
    
    .titleText {
      font-size: 0.256rem;
      color: #5A5A5A;
    }
    
    .earnText {
      font-size: 0.256rem;
      color: #FF7819;
    }
  }
}