.body{


  .inputBox{
    padding-left: 0.3rem;
    width: 100%;
    height: 0.9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 0.01rem solid rgba(0,0,0,0.05);
    border-bottom: 0.01rem solid rgba(0,0,0,0.05);


    .inputLabel{
      font-size: 0.34rem;
      color: rgba(0,0,0,0.8)
    }

    .input{
      font-size: 0.34rem;
      color: rgba(0,0,0,0.8)
    }



  }

}