.body{
  background-color: rgba(0,0,0,0.05);


  .inputBox{
    width: 100%;
    height: 0.9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.2rem 0.3rem;
    background-color: #FFFFFF;

    .inputLabel{
      font-size: 0.34rem;
      color: rgba(0,0,0,0.8)
    }

    .input{
      font-size: 0.34rem;
      color: rgba(0,0,0,0.8)
    }



  }
  .tagBox{
    background-color: #FFFFFF;
    width: 100%;
    height: 0.9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.2rem 0.3rem;

    .tagLabel{
      font-size: 0.34rem;
      color: rgba(0,0,0,0.8)
    }
    .tagWrap{
      display: flex;
      flex-direction:row;

      .tag{
        margin-left: 0.2rem;
        width: 1.4rem;
        height: 0.6rem ;
        align-items: center;
        justify-content: center;
        border: 0.02rem solid #000000;
        font-size: 0.28rem;
        color: #000000

      }

      .selectedTag{
        width: 1.4rem;
        height: 0.6rem ;
        align-items: center;
        justify-content: center;
        border: 0.02rem solid #FF7819;
        font-size: 0.28rem;
        color: #FF7819
      }

    }

  }

  .submit{
    margin-top: 0.8rem;
    width: 90%;
    height: 1rem;
    align-items: center;
    justify-content: center;
    background-color: #FF7819;
    color: #FFFFFF;
    font-size: 0.36rem;
  }

}