.withdrawInput {
  margin: 1.14rem 0.57rem 2.28rem 0.57rem;
  border: solid 1px #000000;
  width: auto;
  height: 12rem;
  border-radius: 3px;
  background-color: #ffffff;
}

.withdrawBtn {
  color: #ffffff;
  background-color: #ff7819;
  border: 1px solid #ff7819;
}