.withdrawInput {
  margin: 1rem 0.5rem 2rem 0.5rem;
  border: solid 1px #000000;
  width: auto;
  height: 10rem;
  border-radius: 3px;

  .moneyInput-item {
    position: relative;
    display: flex;
    min-height: 2.5rem;
    background-color: #fff;
    vertical-align: middle;
    overflow: hidden;
    transition: background-color .2s;
    align-items: center;

    .inputView {
      height: 2.5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}

.withdrawBtn {
  color: #ffffff;
  font-size: 1.1rem;
  background-color: #ff7819;
  border: 1px solid #ff7819;
  height: 3rem;
  line-height: 3rem;
}