.endpanel {
  margin-top: 2rem;
  font-size: 1rem;
  color: #fff;
  width: 100%;

  .downloadApp {
    margin: 0 1.3rem;
    height: 2.9rem;
    border-radius: 5px;
    background-color: #ff7819;
    text-align: center;
    line-height: 2.9rem;
    font-size: 1.13rem;
  }

  .focusMp {
    margin-top: 0.9rem;
    margin-bottom: 3.06rem;
    padding-top: 5.5rem;
    background-image: url("../../asset/image/follow_bg@16x.png");
    background-size:100% 100%;
    height: 9.4rem;
    color: #000000;
    text-align: center;
  }
}