.welcomePanel {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  margin-top: 0.64rem;

  .closeBtn {
    display: flex;
    justify-content: flex-end;
    padding-right: 0.384rem;
    width: 100%;
  }

  .welcomeImg {
    width: 6.3rem;
    height: 4.26rem;
    margin-top: 0.96rem;
  }

  .handStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.48rem;
  }
}