.page {
  background-color: rgba(0,0,0,0.03);
  height: 100vh;

  .carousel {
    background: #fff;

    .imgStyle {
      width: 100%;
      vertical-align: top;
      max-height: 17.1rem;
    }
  }

  .goodsDesc {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.07rem;
    background-color: #fff;
    margin-bottom: 0.36rem;
    .cover {
    }
    .desc {

      flex: 1;
      padding-left: 0.71rem;
      height: 7.14rem;
      .name {
        font-size: 1.21rem;
        font-weight: bold;
        margin-bottom: 1.07rem;
      }
      .price {
        font-size: 1.43rem;
        color: #ff7819;
      }
    }
  }

  .form {
    background-color: #fff;
    padding: 0 1.07rem 0 1.07rem;
    .count {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(0,0,0,0.05);

      .countTitle {
        font-size: 1.21rem;
      }
      .stepper {
        width: 8.57rem;
        height: 1.78rem;
        display: flex;
        flex-direction: row;
        border: 1px solid rgba(0,0,0,0.2);
        margin: 0.71rem 0 0.71rem 0;
        .minus {
          flex: 1;
          background-color: rgba(0,0,0,0.2);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 50px;
          border: 1px solid rgba(0,0,0,0.2);
        }
        .number {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .plus {
          flex: 1;
          background-color: rgba(0,0,0,0.2);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 35px;
          border: 1px solid rgba(0,0,0,0.2);
        }
      }
    }

    .mark {
      .markTitle {
        font-size: 1.21rem;
      }
      .textArea {
        font-size: 1.07rem;
      }
    }

  }

  .toolbar {
    width: 100%;
    height: 3.57rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(250, 250, 250, 0.9);
    position: fixed;
    bottom: 0px;

    .price {
      .title {
        margin-left: 1.07rem;
      }
      .symbol {
        color: #ff7819;
      }
      .number {
        color: #ff7819;
        font-size: 1.43rem;
      }
    }

    .purchaseBtn {
      width: 9.64rem;
      height: 100%;
      background-color: #ff7819;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.07rem;
      color: #fff;
    }
  }
}
