.page {
  background-color: rgba(0,0,0,0.05);
  height: 100vh;
  .container {
    display: flex;
    flex-direction: column;
    padding: 1.07rem 0.71rem 1.07rem 1.43rem;
    background-color: #ffffff;
    margin-bottom: 0.71rem;
    .item {
      border-bottom: 1px solid rgba(0,0,0,0.05);
      .user {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0.71rem;
        .username {
          font-size: 17px;
        }
        .mid {
          flex: 1;
          display: flex;
          flex-direction: row;
          margin-left: 2.85rem;
          .phone {
            font-size: 1.21rem;
            margin-right: 0.71rem;
          }

          .tag {
            font-size: 0.78rem;
            color: #50E3C2;
            background-color: #f5f5f5;
            border-radius: 2.5px;
            margin-right: 2.14rem;
            padding: 0.18rem;
          }
        }
        .edit {
          height: 1.78rem;
          padding-right: 1.0rem;
          padding-left: 1.0rem;
        }
      }
      .address {
        font-size: 13px;
        margin-bottom: 0.71rem;
      }
    }
    .op {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0.36rem 0.36rem 0 0.36rem;
      .default {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 15px;
        .title {
          margin-left: 0.71rem;
        }
      }
      .checked {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5.7rem;
        height: 2.14rem;
        color: #ff7819;
        font-size: 15px;
        border: 1px solid #ff7819;
        border-radius: 10px;
      }
    }
  }

  .addAddress {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff7819;
    font-size: 17px;
    padding-top: 1.43rem;
    .icon {
      width: 1.78rem;
      height:1.78rem;
    }
  }
}
