.body{
  display: flex;
  flex-direction:column;
  align-items: center;
  width:100%;
  background-color: #FFFFFF;

  .headWrap{
    height: 0.7rem;
    width: 100%;
    background-color: rgba(0,0,0,0.05);
    border: 0.03rem solid rgba(0,0,0,0.02);
  }


  .statusBox{
    flex-direction: row;
    display: flex;
    padding: 1.07rem 1.07rem 0.36rem 1.07rem;
    justify-content: space-between;
    width:100%;

    .shopInfoBox{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .shopIcon{
        height: 1.07rem;
        width: 1.07rem;
        align-items: center;
        justify-content: center;

      }
      .backIcon{
        width:0.36rem;
        height:0.71rem;
        align-items: center;
        justify-content: center;


      }

      .shopName{
        font-size: 0.86rem;
        color: rgba(0,0,0,0.8);
        margin-left: 0.71rem;
        margin-right: 0.36rem;
        align-items: center;
        justify-content: center;

      }

    }
    .shopTips{
      color: #FF7819;
      font-size: 0.86rem;
    }
  }

  .goodsBox{
    flex-direction: column;
    width:100%;

    .goodsView{
      background-color: rgba(0,0,0,0.03);
      padding: 0.71rem 1.07rem 0.71rem 1.07rem;
      flex-direction: row;
      display: flex;
      width: 100%;

      .cover{
        height:5.71rem;
        width: 5.71rem;
        margin-right: 0.71rem;

      }
      .goodsInfo{
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-left: 0.71rem;

        .goodsNameText{
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          height: 3.57rem;
          color:#000000;
          font-size: 1.07rem;
        }
        .priceView{
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          display: flex;

          .priceBox{
            flex-direction: row;
            align-items: center;
            display: flex;

            .price{
              color: #000000;
              font-size: 1.07rem;
            }

            .originalPrice{
              color: rgba(0,0,0,0.3);
              font-size: 0.86rem;
              text-decoration: line-through;
              margin-left: 0.71rem;
            }
          }
          .amount{
            color:rgba(0,0,0,0.3);
            font-size: 0.86rem;
          }
        }
      }
    }
    .paidView{
      flex-direction: row;
      justify-content: flex-end;
      padding: 1.07rem 0.71rem;
      border-bottom: 0.07rem solid rgba(0,0,0,0.05);
      display: flex;


      .paidLabel{
        color: #4A4A4A;
        font-size: 1.0rem;

      }
      .paidText{
        font-size: 1.21rem;
        color: #000000;
      }
    }

  }
  .blankButton{
    height: 0.86rem;
  }

  .itemBottomView{
    flex-direction: row;
    justify-content: flex-end;
    padding: 1.07rem 0.71rem;
    display: flex;
    width: 100%;

    .confirmButton{
      border-radius: 1.07rem;
      height: 2.14rem;
      width: 7.1rem;
      align-items: center;
      justify-content: center;
      border: 0.07rem solid #FF7819;
      font-size: 1.07rem;
      color: #FF7819;
      display: flex;


    }
    .deleteButton{
      display: flex;
      border-radius: 1.07rem;
      height: 2.14rem;
      width: 7.1rem;
      align-items: center;
      justify-content: center;
      border: 0.07rem solid #000000;
      font-size: 1.07rem;
      color: #000000;
    }
  }
}