.carousel {
  background: #fff;

  .imgStyle {
    width: 100%;
    vertical-align: top;
    max-height: 22.85rem;
  }
}

.priceBar {
  display: flex;
  padding: 0 0 0 0.57rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3.93rem;
  background-image: linear-gradient(-154deg, #FF9D4E 0%, #FF8A33 44%, #FF7819 94%);

  .price {
    font-size: 2.86rem;
    color: #fff;
  }

  .originalPrice {
    font-size: 1.14rem;
    color: #fff;
    text-decoration: line-through;
  }

  .promotionType {
    height: 100%;
    width: 7.78rem;
    background-color: #F3F800;
    font-size: 1.36rem;
    color: #ff7819;
    line-height: 3.93rem;
    text-align: center;
    padding-left: 2.28rem;
    -webkit-clip-path: polygon(0 3.93rem, 7.78rem 3.93rem, 7.78rem 0, 2.28rem 0, 0 3.93rem);
  }
}

.goodsName {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.37rem;
  font-weight: bold;
  color: #000;
  line-height: 1.78rem;
  padding: 0.36rem 0;
}

.promotionView {
  display: inline-block;
  background: url("../../asset/svg/activitiy_bac.svg") no-repeat;
  background-size: 100% 100%;
  width: 5.35rem;
  height: 1.57rem;
  font-size: 1.07rem;
  color: #FFF;
  text-align: center;
  line-height: 1.57rem;
  padding: 0.032rem 0.57rem;
  margin-right: 1.14rem;
}

.promotionAbstract {
  display: inline-block;
  font-size: 1.07rem;
  color: rgba(0, 0, 0, 0.5);
}

.shopInfoView {
  width: 100%;
  height: 2.0rem;
  border: solid 1px #F5F5F5;
  border-left-width: 0px;
  border-right-width: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.0rem;
  margin-top: 0.34rem;
  
  .shopName {
    font-size: 0.86rem;
    color: #8F8E94;
  }

  .enterShop {
    width: 8.0rem;
    height: 100%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.07rem;
    color: #ff7819;
  }
}

.toolbar {
  width: 100%;
  height: 3.57rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(250, 250, 250, 0.9);
  position: fixed;
  bottom: 0px;

  .contactBtn {
    margin-left: 3.4rem;
    font-size: 0.71rem;
    color: #aaaaaa;
    text-align: center;
    .icon {
      width: 2.14rem;
    }
  }

  .purchaseBtn {
    width: 9.6rem;
    height: 100%;
    background-color: #ff7819;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.07rem;
    color: #fff;
    .icon {
      width: 2.14rem;
      height: 2.14rem;
      margin-right: 5px;
    }
  }
}

.modalStyle {
  .am-modal-content {
    background-color: transparent;
  }
}